:host {
  display: block;
  height: 100%;
  width: 100%;

  .image {
    position: relative;
    height: 11.875rem;
    width: 100%;
    cursor: pointer;

    .mat-chip-set {
      position: absolute;
      left: 0.75rem;
      top: 0.5rem;
    }

    .add-chart {
      position: absolute;
      bottom: 0;
      height: 0;
      width: 100%;
      overflow: hidden;
      background: #000000;
      color: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: height 0.4s;

      .mat-icon {
        font-family: 'Material Icons Outlined', serif;
        font-size: 1.25rem;
      }
    }

    &:hover .add-chart {
      height: 2.25rem;
    }
  }

  .mat-card-title {
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    line-height: 1.5rem;
    cursor: pointer;
    margin-top: 0.5rem;

    &:hover {
      font-weight: 600;
    }
  }

  .mat-card-content {
    display: flex;
    flex-direction: column;
    margin-top: 0.75rem;

    .price-container {
      display: flex;
      align-items: center;
      margin-bottom: 0.5rem;

      .price {
        font-size: 1.125rem;
        font-weight: 600;
        margin-right: 0.375rem;
      }

      .old-price {
        text-decoration: line-through;
        color: #828282;
        font-size: 1.125rem;
        font-weight: 500;
      }
    }

    .rating {
      display: flex;
      align-items: center;
      font-size: 1rem;
      font-weight: 500;

      .reviews {
        color: #828282;
        margin-left: 0.5rem;
      }
    }
  }
}
