<div class="navigation">
  <div class="top-nav">
    <span>Open Sponsorship</span>
    <span>Call Center</span>
    <span>Help</span>
    <span>Tutorial</span>
    <span class="margin-left">Be Partners</span>
    <span>Open Shop</span>
    <span>Download</span>
    <span>English</span>
  </div>
  <div class="bottom-nav">
    <img class="logo" src="assets/images/logo.png" alt="logo" routerLink="/products"/>
    <div class="name" routerLink="/products">E-Shopping</div>
    <div class="search">
      <mat-icon class="mat-icon">search</mat-icon>
      <input [formControl]="searchControl"/>
    </div>
    <div class="profile">
      <mat-icon class="mat-icon" prefix="far">notifications</mat-icon>
      <mat-icon class="mat-icon">location_on</mat-icon>
      <mat-icon class="mat-icon" routerLink="/cart">shopping_cart</mat-icon>
      <div class="user">
        <img class="user-image" src="assets/images/user.png" alt=""/>
        <div class="username">Wissem</div>
      </div>
    </div>
  </div>
  <div class="separator"></div>
</div>

<div class="content">
  <router-outlet/>
</div>
